.escala{
    display: flex;
    flex-direction: row;
    border: 3px black;
    border-radius: 1%;
    background-color: red;
}

.data-escala{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}
.buttons_escala{
    display: flex;
    flex-direction: column;
}