<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="white-space: pre-wrap;">
        <P>tipo : {{documento.tipo}}</P>
        <p>Buque : {{documento.nombreBuque}}</p>
        <p>estado : {{documento.infovendedor}}</p>
        <p>estado : {{documento.estado}}</p>
    </div>
    <div class="buttons_document">
        <a href="{% url 'download_to_pdf' documento.id %}">Descargar PDF</a>
        <a href="#">volver</a>
    </div>
</body>
</html>