<!DOCTYPE html>
{% load static auth_extras %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles/styles2.css">
</head>

<body>
    <div class="up-panel">
        {% if request.user|has_group:"navieros" %}
        <h1 data-rut="{{idrut}}">Documentos: {% if is_scale %}{% else %} Ruta {{ruta}} {% endif %}</h1>
        <div class="btn_back_track">
            <a href="{% url 'track' %}">Volver</a>
        </div>
        {% else %}
        <div class="btn_back_track">
            <a href="{% url 'index' %}">Volver</a>
        </div>
        {% endif %}
    </div>
    <div class="container doc-list">


            {% if documentos %}
                
                {% for doc in documentos %}

                        <div class="doc-item">
                            <a href="{% url 'view_pdf' doc.escala.id doc.escala.ruta.id doc.id %}?isscale={{is_scale|yesno:'1,0'}}">{{doc.tipo}}-{{doc.id}} </a>
                            {% if request.user|has_group:"portuarios" %}
                                {% if doc.estado == 'pendiente' %}
                                <form action="{% url 'aprobar_doc' doc.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value={{doc.escala.id}}>
                                    <input type="hidden" name="cod" value="txt">
                                    <button type="submit" class="btn_aprobe"> aprobar </button> 
                                </form>
                                {% else %}
                                <p class="text_aprobe">APROBADO</p>
                                {% endif %}                                
                            {% else %}
                                <p class="text_aprobe">{{doc.estado}}</p>
                            {% endif %}
                            
                        </div>                  

                {% endfor %}

            {% endif %}

            {% if documentos2 %}
                
                {% for docu in documentos2 %}
                    <div class="doc-item pdf-file">
                        <a href="{{ docu.archivo.url }}" target="_blank"> {{docu.nombre}} </a>
                        {% if request.user|has_group:"portuarios" %}
                            {% if docu.estado == 'pendiente' %}
                            <form action="{% url 'aprobar_doc' docu.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{docu.escala.id}}">
                                <input type="hidden" name="cod" value="pdf">
                                <button type="submit" class="btn_aprobe"> aprobar </button> 
                            </form>
                            {% else %}
                            <p class="text_aprobe">APROBADO</p>
                            {% endif %}
                            
                        {% else %}
                            <p class="text_aprobe">{{docu.estado}}</p>
                        {% endif %}
                    </div>
                {% endfor %}

            {% endif %}

            {# si la revision es desde una escala puede volver a las escalas/ruta #}
            {% if is_scale %}
                <div class="buttons_doc">
                    <a href="{% url 'viaje_scale' ruta %}">volver</a>
                </div>
            {% endif %}


<!------------------------------------------------------------------------------------->
        {# si el ususari es de un puerto #}
        {% if request.user|has_group:"portuarios" %}
        {% endif %}
    </div>
</body>

</html>