<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles/styles2.css">
</head>

<body>
    <h1>Documentos:</h1>
    {% load auth_extras %}
    <div class="container doc-list">
        {% if request.user|has_group:"navieros" %}

        {% for doc in documentos %}
        <div class="doc-item">
            <a href="{% url 'view_pdf' doc.escala.id doc.escala.ruta.id doc.id %}">{{doc.tipo}}-{{doc.id}} </a>
        </div>
        {% endfor %}
        {% for docu in documentos2 %}
        <div class="doc-item">
            <a href="{{ docu.archivo.url }}" target="_blank"> {{docu.nombre}} </a>
        </div>
        {% endfor %}

        <div class="buttons_doc">
            <a href="{% url 'viaje_scale' ruta %}">volver</a>
        </div>

        {% endif %}
    </div>
</body>

</html>